*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    margin:0;
}

#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    font-size:30px;
    line-height: 80px;
    color: darkblue;
    float:left;
}

nav{
    float:right;
    line-height: 80px;
}
nav a:link{
    text-decoration:none;
    margin-right: 25px;
    color: darkblue;
}

nav a:hover{
    border-bottom: 2px solid darkblue;
}

nav a:visited{
    text-decoration:none;
    margin-right: 25px;
    color: darkblue;
}


.ikon{
    margin-right: 7px;
    font-size: 16px;
}



#anasayfa{
    height: 673px;
    background-image: url("../img/arkaplan.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
#black{
    height:673px;
    background-color: black;
    opacity:0.20;
}
#icerik{
    position: absolute;
    top:35%;
    left:33%;
    font-size: 30px;
    color:aliceblue;
    
}
#hakkimda{
    background-image: url("../img/hakk%C4%B1mda2.jpg");
    padding:25px;
    text-align: center;
    font-weight: 600;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
}

h3{
    font-size: 75px;
    color:darkblue;
    text-shadow: :0px 1px 1px black;
    font-weight:600;
}
.container{
    width:1200px;
    height: auto;
    margin: auto;
}
#sol{
    float: left;
    border-right:3px solid #445c6e;
    font-size: 35px;
    width:400px;
    color:#003666;
}
#h5sol{
    line-height: 1.6;
    font-size: 25px;
    font-weight: 600;
}
#h5sol, #sag{
    margin:20px;;
    padding:0;
    margin-top:10px;
    color:#003666;
}
span{
    font-size: 50px;
    margin-right: 7px;
    line-height: :42px;
    color;#003666;
    float:left;
}

.img-fluid{
    max-width: 100%;
    height:auto;
    
}
.mt100{
    margin-top:100px;
}

#egitimler{
    background-image:url("../img/egitim.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:50px;
    text-align: center;
    height: 753px;
}
.card{
    width:320px;
    height:350px;
    border:1px solid #ddd;
    padding:8px;
    display: inline-block;
}

.kartbaslik{
    font-size: 16px;
    color:red;
}
.cardp{
    color:white;
    font-size: 18px;
}
.card:hover{
    border:2px solid yellow;
}
